// Grid Breakpoints
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-sm: 575px;

// Shoe-Stomp Update Began October 2020

// Font Family
$font-family-standard: 'Inter', sans-serif;
$font-family-display: 'Inter', sans-serif;
$font-family-code: 'Source Code Pro', monospace;
$font-size-standard: 15px;

// Color System
$colors-brand-blue: #007bff;
$colors-brand-green: #06d6a0;
$colors-white-primary: #ffffff;
$colors-background-primary: #f8f9fa;
$colors-background-secondary: #02284c;
$colors-text-primary: #001428;
$colors-text-secondary: #b6c2cc;
$colors-text-muted: #6c757d;
$colors-border: #dfe2e5;
$colors-blue-iceberg: #80a9d0;
$colors-blue-primary: #007bfd;
$colors-blue-100: #ecf4ff;
$colors-blue-200: #b0d6ff;
$colors-blue-300: #77b7fe;
$colors-blue-400: #3a9afe;
$colors-blue-500: #027afd;
$colors-blue-600: #0269d8;
$colors-blue-700: #0256b2;
$colors-blue-800: #00448c;
$colors-blue-900: #013166;
$colors-green-primary: #0cd7a0;
$colors-green-100: #d8fdf3;
$colors-green-200: #a5f4df;
$colors-green-300: #72eac9;
$colors-green-400: #3ee1b5;
$colors-green-500: #0dd7a0;
$colors-green-600: #0abe8e;
$colors-green-700: #06a67c;
$colors-green-800: #0a8e6a;
$colors-green-900: #0a7457;
$colors-grey-charcoal: #434655;
$colors-grey-ash: #a8aabc;
$colors-grey-200: #f4f5f6;
$colors-grey-300: #e0e2e5;
$colors-grey-400: #d2d6da;
$colors-grey-500: #afb8bf;
$colors-grey-600: #9ba3ac;
$colors-grey-700: #6e7a87;
$colors-grey-800: #40474f;
$colors-grey-900: #121417;
$colors-pink-primary: #f0476f;
$colors-pink-100: #fdecf0;
$colors-pink-200: #f9c3d0;
$colors-pink-300: #f799b0;
$colors-pink-400: #f47190;
$colors-pink-500: #f1476f;
$colors-pink-600: #df3960;
$colors-pink-700: #cd2b51;
$colors-pink-800: #bc1c42;
$colors-pink-900: #aa0e31;
$colors-purple-200: #e0dbfa;
$colors-purple-300: #d1c9f9;
$colors-purple-400: #c1b6f7;
$colors-purple-600: #9282e9;
$colors-purple-700: #7460de;
$colors-purple-800: #543cd3;
$colors-purple-900: #3619c8;
$colors-yellow-300: #fce8af;
$colors-yellow-200: #f7ebc9;
$colors-yellow-400: #fbe093;
$colors-yellow-gold: #fad775;
$colors-yellow-600: #f7cf59;
$colors-yellow-700: #f4c43e;
$colors-yellow-800: #f1ba24;
$colors-yellow-900: #edb009;

